.footer__author {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color:  #fff;
  line-height: 16px;
}

@media screen and (max-width: 320px) {
  .footer__author {
    font-size: 14px;
    line-height: 1;
  }
}
