.cover__overlay-link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(1184px / 8 * 5);
  max-width: 1184px;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  row-gap: 32px;
  text-decoration: none;
}

.cover__overlay-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 1s linear;
}

.cover__overlay-link:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px) {
  .cover__overlay-link {
    min-height: calc(100vw / 8 * 5);
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay-link {
    max-width: 320px;
    row-gap: 16px;
  }
}

