.place {
  margin: 0;
  width: 100%;
  max-width: 984px;
  display: grid;
  grid-template-columns: fit-content(460px) minmax(min-content, 484px);
  grid-template-rows: repeat(2, min-content);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: fit-content(440px) minmax(min-content, 456px);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: fit-content(340px) minmax(min-content, 352px);
  }
}

@media screen and (max-width: 320px) {
  .place {
    max-width: 320px;
    grid-template-columns: minmax(min-content, 320px);
    gap: 32px ;
  }
}
